.spacer {
  flex: 1 1 auto;
}

/*########################## Toolbar ########################*/
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

/*########################## List Content ########################*/
.list-content {
  display: flex;
  align-items: center;
}

.list-content:hover {
  background: rgba(105, 93, 137, 0.16);
}


/*########################## Photo ########################*/
.photo{
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
