<mat-toolbar [style.color]="'white'" color="primary" class="ps-1 pe-0 app-toolbar">
  <button mat-icon-button class="me-2" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="text-truncate">{{lista?.name!}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container-fluid">

  <div class="list-content pt-3 pb-3 pe-0 ps-1" *ngFor="let item of itemsList" (mousedown)="edit(item.id!)">
    <div class="photo"
         [style.backgroundImage]="'url('+ 'https://storage.googleapis.com/prod-images-interfit/b3885b89-76de-4632-9d83-ef775f66abbe/profile/b3885b89-76de-4632-9d83-ef775f66abbe_profile.png' +')'">
    </div>

    <div class="ps-3 fw-bold">
      {{item.name}}
    </div>

  </div>

</div>
