<mat-toolbar [style.color]="'white'" color="primary" class="ps-1 pe-0 app-toolbar">
  <button mat-icon-button class="me-4" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Editar Item</span>
</mat-toolbar>


<form class="text-center" autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
  <!--  <div class="container-fluid">-->

  <div class="icon-container d-flex justify-content-center">
    <div class="list-icon-bg">
      <button type="button" mat-icon-button class="list-icon">
        <mat-icon>{{icon != null ? icon : 'report_problem'}}</mat-icon>
      </button>
    </div>
  </div>


  <mat-form-field class="field-width" appearance="outline" floatLabel="always">
    <mat-icon color="primary" matPrefix>edit</mat-icon>
    <mat-label>Nome do item</mat-label>
    <input matInput #input maxlength="200"
           formControlName="name"
           name="name"
           aria-label='Nome da nova lista'
           required>
    <mat-error>Nome inválido</mat-error>
  </mat-form-field>

  <br>

  <button type="submit" class="field-width" mat-raised-button color="primary"
          [style.color]="'white'" [disabled]="!form.valid">
    <mat-icon>send</mat-icon>
    <span class="ms-2">{{id != undefined ? 'Alterar' : 'Salvar'}}</span>
  </button>


  <!--  </div>-->
</form>
