<mat-toolbar [style.color]="'white'" color="primary" class="ps-1 pe-0 app-toolbar">
  <button mat-icon-button class="me-4" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Editar Item</span>
</mat-toolbar>


<form class="text-center" autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
  <!--  <div class="container-fluid">-->

  <div class="icon-container d-flex justify-content-center">
    <div *ngIf="urlPhoto == null" class="list-icon-bg">
      <button type="button" mat-icon-button class="list-icon" (click)="addPhoto()">
        <mat-icon *ngIf="urlPhoto == null">image</mat-icon>
      </button>
    </div>
    <div *ngIf="urlPhoto != null" >
      <button type="button" mat-icon-button class="list-icon w-auto pt-0 m-0" (click)="addPhoto()">
        <div  class="photo"
             [style.backgroundImage]="'url('+ urlPhoto +')'">
        </div>
      </button>
    </div>
  </div>


  <mat-form-field class="field-width" appearance="outline" floatLabel="always">
    <mat-icon color="primary" class="me-2" matPrefix>edit</mat-icon>
    <mat-label>Nome do item</mat-label>
    <input matInput #input maxlength="200"
           formControlName="name"
           name="name"
           aria-label='Nome da nova lista'
           required>
    <mat-error>Nome inválido</mat-error>
  </mat-form-field>

  <br>

  <button type="submit" class="field-width" mat-raised-button color="primary"
          [style.color]="'white'" [disabled]="!form.valid">
    <mat-icon>send</mat-icon>
    <span class="ms-2">{{id != undefined ? 'Alterar' : 'Salvar'}}</span>
  </button>

  <button [hidden]="id == null" type="button" class="field-width border mt-2"
          mat-button color="primary" (click)="delete()">
    <span class="ms-2">Excluir</span>
    <mat-icon [style.color]="'red'">delete</mat-icon>
  </button>

  <!--  </div>-->
</form>
